<div xmlns:th="www.thymeleaf.com" th:fragment="commonfooter"
	th:remove="tag">
	<footer class="page-footer center-on-small-only">
		<div class="container">
			<div class="row wow fadeInUp">
				<div class="col-md-3"></div>
				<div class="col-md-6  text-center">
					<br />
					<h5>Thank you for visiting. Have an awesome day.</h5>
					<br />


				</div>
				<div class="col-md-3 text-right">

					<br /> <span>&copy; 2021 adarshsinghal.com</span><br />
				</div>
			</div>
		</div>
	</footer>
</div>